* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #FF2020, #FF8181);
    overflow: hidden;
}

.floating-heart {
    top: -25px;
    position: absolute;
    font-size: 30px;
    opacity: 25%;
    animation: hearts 11s linear infinite;
}

.heart1 {
    left: 10%;
}

.heart2 {
    left: 50%;
    animation-delay: 2.5s;
}

.heart3 {
    left: 80%;
    animation-delay: 6s;
}

.container {
    width: 90%;
    max-width: 500px;
    padding: 40px 30px;
    text-align: center;
    border-radius: 25px;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.49);
    animation: fadeIn 1.5s ease;
}

.photo-container {
    width: 120px;
    height: 120px;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    animation: heartbeat 1.5s infinite;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.22);
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    margin-top: 15px;
    color: #444;
    animation: slideDown 1s ease;
}


.subtitle {
    font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
    margin-top: 10px;
    color: #4D4D4D;
}

button {
    font-family: "Titillium Web", sans-serif;
    font-size: 15px;
    margin-top: 15px;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background: #D40000;
    color: white;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-3px);
}

.hidden-message {
    margin-top: 5px;
    font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  justify-content: center;
    display: none;
    color: #505050;
}
.hidden-message span {
    justify-content: center;
    white-space: pre;
    font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
    line-height: 1.8;
    color: #555;
    animation: slideUp 1.5s ease;
}
.show {
    display: block;
    animation: fadeIn 1s ease;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hearts {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(-250px);
    }
}